***Participantes (RM - NOME):***<br>
Vitor Luiz Carvalhal - 337129<br>
Ricardo Fabbro Antonelli - 339505<br>
Bartira Lira Lafiandre - 340177<br>
Tiago Batista Pessoa - 339575<br>

In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import missingno as msno
import seaborn as sbs
import sklearn.metrics as sm
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
import joblib
import plotly.io as pio
pio.renderers.default = "vscode"
from pandas import read_csv
from sklearn.ensemble import RandomForestRegressor as rfr
from sklearn.linear_model import LinearRegression as lr
from sklearn import metrics as me

In [54]:
#recupera os dados da planilha origem apenas para coletar o nome dos campos
filename= "./data/datasetclusterizado.csv"
file= pd.read_csv(filename,sep="\t",decimal='.', engine='python')
file = file.reindex(sorted(file.columns), axis=1)
file.drop(file.columns[0],inplace=True,axis=1)
file.drop(["cluster"],inplace=True,axis=1)
file.head()

,ativoCirculante,capitalSocial,custos,dashboardCorrelacao,definicaoRisco,empresa_MeEppMei,endividamento,estoque,faturamentoBruto,limiteEmpresaAnaliseCredito,...,margemBrutaAcumulada,passivoCirculante,percentualProtestos,prazoMedioRecebimentoVendas,restricoes,scorePontualidade,titulosEmAberto,totalPatrimonioLiquido,valorAprovado,valorSolicitado
0,14758917.0,75000.0,40680051.0,0.000000,2,False,3039112.0,3047791.0,40779757.0,89000.0,...,0.454088,12149031.0,0.0,20,False,1.0,1486.95,14544378.0,50000.0,50000.0
1,14758917.0,15000.0,0.0,0.000000,3,True,3039112.0,3047791.0,918476.0,38400.0,...,0.000000,12149031.0,0.0,0,False,0.0,0.00,14544378.0,20000.0,25000.0
2,14758917.0,30515674.0,156394112.0,-0.997517,3,False,3039112.0,3047791.0,239016696.0,18132588.0,...,0.000000,12149031.0,0.0,0,True,0.0,0.00,14544378.0,80000.0,100000.0
3,17801610.0,120000.0,0.0,0.000000,1,False,0.0,11902384.0,11958227.0,768233.0,...,0.350175,2538069.0,0.0,102,False,1.0,208980.00,7519758.0,300000.0,300000.0
4,36827690.0,1000000.0,-49267738.0,0.000000,2,False,0.0,11420388.0,72479551.0,6910219.0,...,0.245818,13843198.0,0.0,27,False,1.0,6432.00,25612746.0,400000.0,400000.0

In [ ]:
file.info()

In [77]:
targetcol = 'valorAprovado'
y = file[targetcol]
x = file.iloc[:, file.columns != 'valorAprovado']

#X_norm = MinMaxScaler().fit_transform(x)

#clf = rfr()
#clf.fit(X=X_norm, y=y)
#clf.all_coln = all_coln

In [78]:
x.head()

,ativoCirculante,capitalSocial,custos,dashboardCorrelacao,definicaoRisco,empresa_MeEppMei,endividamento,estoque,faturamentoBruto,limiteEmpresaAnaliseCredito,...,margemBruta,margemBrutaAcumulada,passivoCirculante,percentualProtestos,prazoMedioRecebimentoVendas,restricoes,scorePontualidade,titulosEmAberto,totalPatrimonioLiquido,valorSolicitado
0,14758917.0,75000.0,40680051.0,0.000000,2,False,3039112.0,3047791.0,40779757.0,89000.0,...,81459809.0,0.454088,12149031.0,0.0,20,False,1.0,1486.95,14544378.0,50000.0
1,14758917.0,15000.0,0.0,0.000000,3,True,3039112.0,3047791.0,918476.0,38400.0,...,0.0,0.000000,12149031.0,0.0,0,False,0.0,0.00,14544378.0,25000.0
2,14758917.0,30515674.0,156394112.0,-0.997517,3,False,3039112.0,3047791.0,239016696.0,18132588.0,...,-7540544.0,0.000000,12149031.0,0.0,0,True,0.0,0.00,14544378.0,100000.0
3,17801610.0,120000.0,0.0,0.000000,1,False,0.0,11902384.0,11958227.0,768233.0,...,9357949.0,0.350175,2538069.0,0.0,102,False,1.0,208980.00,7519758.0,300000.0
4,36827690.0,1000000.0,-49267738.0,0.000000,2,False,0.0,11420388.0,72479551.0,6910219.0,...,6233236.0,0.245818,13843198.0,0.0,27,False,1.0,6432.00,25612746.0,400000.0

In [71]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

> Fazendo RandonForestRegression

In [72]:
clf = rfr(n_estimators = 50, random_state = 0)
clf.fit(X_train, y_train)

clf_acuracia = clf.score(X=x, y=y)
print("Acuracia (r²): [{0}]".format(clf_acuracia))

Acuracia (r²): [-76.98148355194564]

In [73]:
y_pred = clf.predict(X_test)

print('Mean Absolute Error(MAE):', me.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error(MSE):', me.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error(RMSE):', np.sqrt(me.mean_squared_error(y_test, y_pred)))

Mean Absolute Error(MAE): 76123.02787561287
Mean Squared Error(MSE): 83855621444.64954
Root Mean Squared Error(RMSE): 289578.3511325554

> Fazendo linearRegression

In [74]:
lrl = lr()
lrl.fit(X_train, y_train)

lrl_acuracia = lrl.score(X=x, y=y)
print("Acuracia (r²): [{0}]".format(lrl_acuracia))

Acuracia (r²): [-1.8229573203196755e+17]

In [75]:
y_pred_linear = lrl.predict(X_test)

print('Mean Absolute Error(MAE):', me.mean_absolute_error(y_test, y_pred_linear))  
print('Mean Squared Error(MSE):', me.mean_squared_error(y_test, y_pred_linear))  
print('Root Mean Squared Error(RMSE):', np.sqrt(me.mean_squared_error(y_test, y_pred_linear)))

Mean Absolute Error(MAE): 177491.4857928516
Mean Squared Error(MSE): 242087274395.59378
Root Mean Squared Error(RMSE): 492023.6522725242

In [34]:
model_name = "indicacao_valor_maximo.pkl"
filename = "./modelo/" + model_name
joblib.dump(value=clf, filename=filename)

['./modelo/indicacao_valor_maximo.pkl']