***Participantes (RM - NOME):***<br>
Vitor Luiz Carvalhal - 337129<br>
Ricardo Fabbro Antonelli - 339505<br>
Bartira Lira Lafiandre - 340177<br>
Tiago Batista Pessoa - 339575<br>

## **1.Bibliotecas e afins**

In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import missingno as msno
import seaborn as sbs
import sklearn.metrics as sm
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import silhouette_score
#from tqdm import tqdm
from sklearn.decomposition import PCA
import joblib
from sklearn.neighbors import KNeighborsClassifier
import plotly.io as pio
pio.renderers.default = "vscode"
from pandas import read_csv

In [11]:
modelo = joblib.load("./modelo/classificador_cliente.pkl")

In [26]:
filename= "./data/datasetclusterizado.csv"
file= pd.read_csv(filename,sep="\t",decimal='.', engine='python')
file = file.reindex(sorted(file.columns), axis=1)
file.drop(file.columns[0],inplace=True,axis=1)
file.drop(["cluster"],inplace=True,axis=1)
file.head()

,ativoCirculante,capitalSocial,custos,dashboardCorrelacao,definicaoRisco,empresa_MeEppMei,endividamento,estoque,faturamentoBruto,limiteEmpresaAnaliseCredito,...,margemBrutaAcumulada,passivoCirculante,percentualProtestos,prazoMedioRecebimentoVendas,restricoes,scorePontualidade,titulosEmAberto,totalPatrimonioLiquido,valorAprovado,valorSolicitado
0,14758917.0,75000.0,40680051.0,0.000000,2,False,3039112.0,3047791.0,40779757.0,89000.0,...,0.454088,12149031.0,0.0,20,False,1.0,1486.95,14544378.0,50000.0,50000.0
1,14758917.0,15000.0,0.0,0.000000,3,True,3039112.0,3047791.0,918476.0,38400.0,...,0.000000,12149031.0,0.0,0,False,0.0,0.00,14544378.0,20000.0,25000.0
2,14758917.0,30515674.0,156394112.0,-0.997517,3,False,3039112.0,3047791.0,239016696.0,18132588.0,...,0.000000,12149031.0,0.0,0,True,0.0,0.00,14544378.0,80000.0,100000.0
3,17801610.0,120000.0,0.0,0.000000,1,False,0.0,11902384.0,11958227.0,768233.0,...,0.350175,2538069.0,0.0,102,False,1.0,208980.00,7519758.0,300000.0,300000.0
4,36827690.0,1000000.0,-49267738.0,0.000000,2,False,0.0,11420388.0,72479551.0,6910219.0,...,0.245818,13843198.0,0.0,27,False,1.0,6432.00,25612746.0,400000.0,400000.0

In [27]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8507 entries, 0 to 8506
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ativoCirculante              8507 non-null   float64
 1   capitalSocial                8507 non-null   float64
 2   custos                       8507 non-null   float64
 3   dashboardCorrelacao          8507 non-null   float64
 4   definicaoRisco               8507 non-null   int64
 5   empresa_MeEppMei             8507 non-null   bool
 6   endividamento                8507 non-null   float64
 7   estoque                      8507 non-null   float64
 8   faturamentoBruto             8507 non-null   float64
 9   limiteEmpresaAnaliseCredito  8507 non-null   float64
 10  maiorAtraso                  8507 non-null   int64
 11  margemBruta                  8507 non-null   float64
 12  margemBrutaAcumulada         8507 non-null   float64
 13  passivoCirculante            8507 non-null   float64
 14  percentualProtestos          8507 non-null   float64
 15  prazoMedioRecebimentoVendas  8507 non-null   int64
 16  restricoes                   8507 non-null   bool
 17  scorePontualidade            8507 non-null   float64
 18  titulosEmAberto              8507 non-null   float64
 19  totalPatrimonioLiquido       8507 non-null   float64
 20  valorAprovado                8507 non-null   float64
 21  valorSolicitado              8507 non-null   float64
dtypes: bool(2), float64(17), int64(3)
memory usage: 1.3 MB

* Adicionando um cliente manualement *

In [72]:
dd = [[14758917.0,
15000.0,
0.0,
0.0,
3,
True,
3039112.0,
3047791.0,
918476.0,
38400.0,
0,
0.0,
0.0,
12149031.0,
0.0,
0,
False,
0.0,
0.0,
14544378.0,
20000.0,
25000.0
]]

df_new=pd.DataFrame(dd)
df_new.columns = file.columns
modelo.predict(df_new)

array([2])

In [54]:
df_new

,ativoCirculante,capitalSocial,custos,dashboardCorrelacao,definicaoRisco,empresa_MeEppMei,endividamento,estoque,faturamentoBruto,limiteEmpresaAnaliseCredito,...,margemBrutaAcumulada,passivoCirculante,percentualProtestos,prazoMedioRecebimentoVendas,restricoes,scorePontualidade,titulosEmAberto,totalPatrimonioLiquido,valorAprovado,valorSolicitado
0,14758917.0,75000.0,40680051.0,0.0,2,False,3039112.0,3047791.0,40779757.0,89000.0,...,0.454088,12149031.0,0.0,20,False,1.0,1486.95,14544378.0,50000.0,50000.0